@import "tailwindcss";
:root {
    @apply bg-neutral-100 dark:bg-neutral-900 text-neutral-900 dark:text-neutral-100;
}

body {
    background-image: url(/background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@utility scroll-bar-none {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, and Opera */
    }
}

@utility re-bg-blur {
    @apply bg-neutral-200/80 dark:bg-neutral-800/80 backdrop-blur-md;
}

@utility re-no-bg-text {
    @apply dark:text-neutral-800 text-neutral-200 dark:text-shadow-neutral-200 text-shadow-neutral-800 text-shadow-md/20;
}
